In [3]:
x = 6
if x > 45:
    print(x, 'is greater than 45')
else:
    print(x, 'is less than 45')

6 is less than 45

In [19]:
x = 201
if x<200:
    print('No')
else:
    if x>500:
        print('NO')
    else:
        print('yes')
# we can shorten this code also by relational operators
if x >200 & x < 500:
    print('yes')
else:
    print('no')

yes
yes

In [13]:
x = int(input('age of the visitor'))             # this code is related to if-elif-else

if x > 60:
    print('No entry')
elif x < 18:
    print('No entry')
else:
    print('Visiter can enter')

age of the visitor20
Visiter can enter

In [16]:
# another way to shorten the code by using relation opertators like(or, nor,xor)
x = int(input('age of the visitor'))
if x > 60 or x <18:
    print('No entry')
else:
    print('You fit the criteria for entry')

age of the visitor99
No entry

In [22]:
#nested if-else                 # code to see which teams were the finalist in the world cups
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}
year = int(input('enter the year to see if India has won the worlcup = '))
if year in world_cups.keys():
    if 'India'in world_cups[year]:
        print('Yes!India were among the finalist')
    else:
        print('Unfortuantely!India did not make to the finals')
else:
    print('The worldcups was not played in the given year')

enter the year to see if India has won the worlcup = 2006
The worldcups was not played in the given year

In [31]:
input_str = input('eneter the word')                      # to see whether the first letter of a input string is vowel or not
vowel = 'a,e,i,o,u'
if input_str[2] in vowel:
    print('yes!the word star with vowel')
else:
    print('No!the word does not start with vowel')

eneter the wordorange
yes!the word star with vowel

In [33]:
# while loop
Mobile_pin = input('enter your valid pin to enter = ')           # How to use while loops
while Mobile_pin != '3903':
    Mobile_pin= input('Schade!your pin is incorrect...please try again with your code')
print('Pin validation successful')

enter your valid pin to enter = 5200
Schade!your pin is incorrect...please try again with your code5698
Schade!your pin is incorrect...please try again with your code3903
Pin validation successful

In [36]:
import sys
enter_pin = input('enter your four digit pin= ')              
attempt = 1
while enter_pin != '3903':                                    
    if attempt >= 3:
        sys.exit('too many invalid attempts')                        #this part will exist the sytem code if more than or equals to 3
    enter_pin = input('Pin is incorrect...enter the pin again')
    attempt += 1
else:
    print('pin validation is successful')

enter your four digit pin= 2560
Pin is incorrect...enter the pin again39039
Pin is incorrect...enter the pin again3903
pin validation is successful

In [37]:
#iteration using for loops
#for list
a =[1,2,5,6,7]
for var in a:
    print(var)

1
2
5
6
7

In [38]:
string = 'you will succeed'
for char in string:
    print(char)

y
o
u

w
i
l
l

s
u
c
c
e
e
d

In [40]:
string = 'you will succeed'
for char in string:
    print(char, end='|')

y|o|u| |w|i|l|l| |s|u|c|c|e|e|d|

In [50]:
# for Dictionaries
list_students = {'Sam':21,'Cody':12,'Addy':3,'Zach':45,'Amy':6}
for key, val in list_students.items():           #code to access key and values in a dictionary
    print(key,val)

Sam 21
Cody 12
Addy 3
Zach 45
Amy 6

In [57]:
list_students = {'Sam':21,'Cody':12,'Addy':3,'Zach':45,'Amy':6}
for val in list_students.values():           #code to access key and values in a dictionary
    print(val)

21
12
3
45
6

In [58]:
list_students = {'Sam':21,'Cody':12,'Addy':3,'Zach':45,'Amy':6}
for key in list_students.keys():           #code to access key and values in a dictionary
    print(key)

Sam
Cody
Addy
Zach
Amy

In [61]:
list_students = {'Sam':21,'Cody':12,'Addy':3,'Zach':45,'Amy':6}
for key, val in list_students.items():           #code to access key and values in a dictionary
    print(key, val)

Sam 21
Cody 12
Addy 3
Zach 45
Amy 6

In [76]:
#how to use for loop for a rage of values
for i in range(300,0, -10):
    print(i, end = " ! ")

300 ! 290 ! 280 ! 270 ! 260 ! 250 ! 240 ! 230 ! 220 ! 210 ! 200 ! 190 ! 180 ! 170 ! 160 ! 150 ! 140 ! 130 ! 120 ! 110 ! 100 ! 90 ! 80 ! 70 ! 60 ! 50 ! 40 ! 30 ! 20 ! 10 !

In [77]:
for i in range(0, 300, 10):
    print(i, end = " ! ")

0 ! 10 ! 20 ! 30 ! 40 ! 50 ! 60 ! 70 ! 80 ! 90 ! 100 ! 110 ! 120 ! 130 ! 140 ! 150 ! 160 ! 170 ! 180 ! 190 ! 200 ! 210 ! 220 ! 230 ! 240 ! 250 ! 260 ! 270 ! 280 ! 290 !

In [82]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):                               #confusion
    L3.append(L2[i]-L1[i])
L3

[-2, -6, -15, -4, -8]

In [15]:
input_list = ['VARMA','raj','Gupta','SaNdeep']
a = []
for i in input_list:
    a.append(i.capitalize())
print(a)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [98]:
for n in range(2,20):
    flag = True
    for i in range(2,n):
        if n%i == 0:
            print(n,'is not prime', i)
            flag = False
            break
    if flag == True:
        print(n, 'is prime')

2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

In [99]:
a = list(range(-100,-1,2))
a

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [107]:
a = sorted(set(range(-2,-101,-2)))
a

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [10]:
#these are comprehensions(how to make a new list or dictionary )
l = ['kolkata','mumbai','kota','kerala']
l1=[]
for word in l:
      l1.append(len(word))
l1
#or another approch
l1 = [len(word) for word in l]
l1

[7, 6, 4, 6]

In [15]:
#normal approch
l1 = [5,3,4,6,8]
l2 = [8,6,2,4,1]
l3 = []
for i in range(len(l1)):
    l3.append(l2[i]-l1[i])
l3

[3, 3, -2, -2, -7]

In [14]:
#same approch with list comprehensions
l3 = [l2[i]-l1[i] for i in range(len(l2))]
l3

[3, 3, -2, -2, -7]

In [16]:
# how to zip two values together
l = ['kolkata','mumbai','kota','kerala']
l1=[]
for word in l:
      l1.append(len(word))
l1
for i,j in zip(l,l1):
    print(i, " - ", j)

kolkata  -  7
mumbai  -  6
kota  -  4
kerala  -  6

In [17]:
d = {word:len(word) for word in l}        # to create a dictionary with two diffrent listed values
d

{'kolkata': 7, 'mumbai': 6, 'kota': 4, 'kerala': 6}

In [10]:
g = [1,2,3,4,5]
g2 = [2 * g] 
g2

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [11]:
g = [1,5,7,4]                     # output should multiple of 2 from the input
g1 = []
for f in g:
    g1.append(f*2)
g1

[2, 10, 14, 8]

In [13]:
l = ['Delhi','Mumbai','Pune']         # Output will be always the first letter of the variables from the input
l1 = []
for m in l:
    l1.append(m[0])
l1

['D', 'M', 'P']

In [51]:
g = input('enter a number')

enter a number5

TypeError: can only concatenate str (not "int") to str

In [ ]:
import sys
enter_pin = input('enter your four digit pin= ')              
attempt = 1
while enter_pin != '3903':                                    
    if attempt >= 3:
        sys.exit('too many invalid attempts')                        #this part will exist the sytem code if more than or equals to 3
    enter_pin = input('Pin is incorrect...enter the pin again')
    attempt += 1
else:
    print('pin validation is successful')

In [56]:
g = int(input('enter the no'))

enter the no5

TypeError: 'int' object is not subscriptable